*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: linear-gradient(45deg, #989898, #b3b3b3);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  position: relative;
  width: 100%;
  max-width:1000%;
  max-height: 1000%;
  background: white;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side{
  position: relative;
  background: #f6c443;
  padding: 40px;

}

.profileText{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo{width: 100%; height: auto;}

.profileText h2{
  color: #000;
  font-size: 1.5rem;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profileText h2 span{
  font-size: 0.8em;
  padding: 5px 10px;
  padding-top: 7px;
  background: white;
  font-weight: 300;
}

.contactInfo{padding-top: 40px;}

.title{
  color: white;
  background: black;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contactInfo ul{
  position: relative;
}

.contactInfo ul li{
  list-style: none;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
}

.contactInfo ul li span{
  color: black;
  font-weight: 300;
}

.contactInfo.education li{
  margin-bottom: 15px;
}

.contactInfo.education h5{
  color: black;
  font-weight: 500;
  background: white;
  width: 95px;
  padding: 5px;
  text-align: center;
  padding-top: 7px;
  margin-bottom: 10px;
}

.contactInfo.education h4:nth-child(2){
  color:black;
  font-weight: 500;
}

.contactInfo.education h4{
  color: black;
  font-weight: 300;
}

.contactInfo.language .percent{
  position: relative;
  width: 100%;
  height: 6px;
  background-color: white;
  display: block;
  margin-top: 5px;
}

.contactInfo.language .percent div{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background: #000;
}

.container .right_side{
  position: relative;
  background: white;
  padding: 40px;
}

.about{
  margin-bottom: 50px;
}

.about:last-child{
  margin-bottom: 0;
}

.title2{
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border-bottom: 5px solid #eec65c;
  background: black;
  padding: 5px 15px;
}

p{
  color: #081921
}

.about .box{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .year_company{
  min-width: 150px;
}

.about .box .year_company h5{
  text-transform: uppercase;
  color: black;
  font-weight: 600;
}

.about .box .year_company h4{
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  background: #f6c442;
  padding: 5px 10px;
  width: 266px;
  border-radius: 5px;
  padding-top: 7px;
  margin-bottom: 10px;
}

.about .portfolio{
  margin: 20px 0;
}

.card_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  width: 150px;
  margin-bottom: 10px;
}

.skills .box{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.skills .box h4{
  text-transform: uppercase;
  color: back;
  font-weight: 500; 
}

.skills .box .percent{
  position: relative;
  width: 100%;
  height: 10px;
  background: #cccccc;
}

.skills .box .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #ddc65c;
}

.interest ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interest ul li{
  list-style: none;
  color: black;
  font-weight: 500;
  margin: 10px 0;
}

.interest ul li .fa{
  color: #eec65c;
  font-size: 18px;
  width: 40px;
  background: black;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
}

@media (max-width: 1000px){
  .container{
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px){
  .about .box{
    flex-direction: column;
  }
  .about .box .year_company{
    margin-bottom: 5px;
  }
  .interest ul{
    grid-template-columns: repeat(1, 1fr);
  }
  .skills .box{
    grid-template-columns: repeat(1, 1fr);
  }
}

.englishw50{width: 90%;}
.spanishw50{width: 100%;}
.portuguesw50{width: 50%;}
.htmlws90{width: 90%}
.cssws70{width: 70%}
.jsws70{width: 70%}
.reactws70{width: 70%}
.nodes70{width: 70%}

